language: node_js
node_js: 8

cache:
      directories:
            - node_modules

install:
      - 'yarn add coveralls'

script:
      - jest --coverage --coverageReporters=text-lcov --detectOpenHandles --forceExit | coveralls
      - yarn build
